<div class="section-gap">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 details col-md-offset-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">
    <a class="btn btn-primary pull-right" [routerLink]="['/']">Back</a>
    <div class="text-center">
      <img class="card-img-top" src="assets/img/user.png" alt="Card image cap" />
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">ID</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['id']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Login</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['login']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Node ID</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['node_id']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Avatar URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['avatar_url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Html URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['html_url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Subscription URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['subscription_url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Organization URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['organization_url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Repos URL</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['repos_url']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Site Admin</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['site_admin']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Name</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['name']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Company</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['company']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Blog</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['blog']}}</div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">Location</div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">{{user_info['location']}}</div>
    </div>
  </div>
</div>